

// COLORS:





$ba-red:#aa3700;

$ba-drabgreen:#474b19;

$ba-limegreen:#99aa3a;

$ba-darkgreen:#293e2f;

$ba-tan:#d5d3be;

$ba-text-dark:#5e5d5d;

$ba-offwhite:#E8E8E8;




$bci-orange:#f47c29;

$bci-blue:#4e629f;

$bci-green:#a5b66c;


$bci-grey:#58595b;





$pt-color-primary	:	lightgreen	; 
$pt-color-secondary	:	lightblue	; 
$pt-color-highlight	: 	indianred 	; 



$pt-color-white		: #fff		;
$pt-color-offwhite	: #fdf6ee 	;
$pt-color-black		: #000		;



$pt-color-gray-light:		#eeeeee	;
$pt-color-gray-mid:			#a9a9a9	;
$pt-color-gray-dark:		#333333 ;




$pt-text-color-light	: #999		;
$pt-text-color-mid		: #333743 	;
$pt-text-color-dark		: #656b6f 	;



$pt-text-color : $pt-text-color-mid ;



$pt-bg-light 	:	$pt-color-gray-light 	; 			
$pt-bg-mid 		:	$pt-color-gray-mid 		; 	
$pt-bg-dark 	:	$pt-color-gray-dark		; 	







// PAGETREE CMS IMAGE PATH: /app/webroot/userfiles/###/Image/
// Example of how to use -- background: url("#{$img-url}/background-image.png") repeat top left;
$img-url: "img/";
// $img-url: "/app/webroot/userfiles/284/File/assets/img/";




$fonts-url: "/assets/fonts/";
// $img-url: "/app/webroot/userfiles/284/File/assets/fonts/";


















 

// -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-






// -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-


























